<div class="bigimg text-center">
    <div class="caption">
        <h3>Get Fit!</h3>
    </div>
</div>
<div class="container mt-4">
    <div class="row text-center">
        <div class="col-md-6 card-body">
            <h3 class="card-title text-center underline" id="email"></h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div>
            <h3 class="text-center">Share your goals!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Goals</h2>
            <ol>
                {{#each data}}
                {{#unless data.complete}}
                <li> {{data}}
                    <button class="completeBtn" data-id="{{id}}">Complete</button>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col-md-6">
            <h2>Completed Goals</h2>
            <ol>
                {{#each goals}}
                {{#if this.complete}}
                <li>{{this.goals}}
                    <button class="deleteBtn" data-id="{{this.id}}">delete</button>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="userGoal" type="text">
            <button id="goalBtn">New Goal</button>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="/logout">Log Out</a>
</div>