<div class="collapse" id="navbarToggleExternalContent">
<div class="bg-danger p-4">
    <h5 class="text-white h3">Go Fit!</h5>
    <h6><a href="trainerHome.html" class="text-dark">Home!</a></h6>
</div>
</div>
<nav class="navbar navbar-dark bg-danger">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
</div>
</nav>
<div class="container mt-4">
<div class="row text-center">
    <h1>Go Fit!</h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-6 card mb-3">
        <img src="https://images.radio.com/aiu-media/GettyImages1221164288-711de650-35db-47d2-a67f-29702679c029.jpg?width=800" class="card-img-top" alt="Trainy">
    </div>
    <div class="col-md-6 card-body">
        <h3 class="card-title text-center">Carl Wentz</h3>
        <hr>
        <h4><p class="card-text strong text-center">Hello, im Carl and i specialize in Weight-gain/Body-Building and i would love to be your trainer!</p></h4>
    </div>
</div>
</div>
<div class="container mt-4">
    <div class="row text-center">
        <h1>Go Fit!</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6 card mb-3">
            <img src="https://images.radio.com/aiu-media/GettyImages1221164288-711de650-35db-47d2-a67f-29702679c029.jpg?width=800" class="card-img-top" alt="Trainy">
        </div>
        <div class="col-md-6 card-body">
            <h3 class="card-title text-center">Carl Wentz</h3>
            <hr>
            <h4><p class="card-text strong text-center">Hello, im Carl and i specialize in Weight-gain/Body-Building and i would love to be your trainer!</p></h4>
        </div>
    </div>
</div>
<div class="container mt-4">
<div class="row text-center">
    <h1>Go Fit!</h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-6 card mb-3">
        <img src="https://images.radio.com/aiu-media/GettyImages1221164288-711de650-35db-47d2-a67f-29702679c029.jpg?width=800" class="card-img-top" alt="Trainy">
    </div>
    <div class="col-md-6 card-body">
        <h3 class="card-title text-center">Carl Wentz</h3>
        <hr>
        <h4><p class="card-text strong text-center">Hello, im Carl and i specialize in Weight-gain/Body-Building and i would love to be your trainer!</p></h4>
    </div>
</div>
</div>
<div class="container mt-4">
<div class="row text-center">
    <h1>Go Fit!</h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-6 card mb-3">
        <img src="https://images.radio.com/aiu-media/GettyImages1221164288-711de650-35db-47d2-a67f-29702679c029.jpg?width=800" class="card-img-top" alt="Trainy">
    </div>
    <div class="col-md-6 card-body">
        <h3 class="card-title text-center">Carl Wentz</h3>
        <hr>
        <h4><p class="card-text strong text-center">Hello, im Carl and i specialize in Weight-gain/Body-Building and i would love to be your trainer!</p></h4>
    </div>
</div>
</div>