<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-danger p-4">
      <h5 class="text-white h3">Go Fit!</h5>
      <h6><a href="login.html" class="text-dark">Log In</a></h6>
      <hr>
      <h6><a href="signup.html" class="text-dark">Sign Up!</a></h6>
    </div>
</div>
<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>
  
<div class="container p-4 mt-4">
    <div class="row text-center">
        <h1>Go Fit!</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div>
                <h3><a href="trainer.html">View Trainers</a></h3>
            </div>
            <img src="https://images.radio.com/aiu-media/GettyImages1221164288-711de650-35db-47d2-a67f-29702679c029.jpg?width=800" class="card-img-top" alt="Trainy">
        </div>   
        <div class="col-md-6 text-center">
            <div>
                <h4>
                    <p>
                        As a client we want you to push yourself and get to where you want to be weither that be building muscle or dropping weight, we have Trainers that can help with it all!
                    </p>
                </h4>
            </div>
        </div>
    </div>
</div>