<div class="bigimg text-center">
    <div class="caption"><h3>Get Fit!</h3></div> 
        <div class="float-left">
            <button type="submit">Log In!</button>
        </div>
</div>
<ul>
    {{#each client}}
            <li>
            <div class="container mt-4">
            <div class="row text-center">
                <h1>Get Fit!</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6 card-body">
                    <h3 class="card-title text-center" id="eamil"></h3>
                    <hr>
                    <h4><p class="card-text strong text-center" id="goals"></p></h4>
                    <hr>
                </div>
            </div>
            </div>
            </li>
    {{/each}}
</ul>