<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-danger p-4">
        <h5 class="text-white h3">Go Fit!</h5>
        <h6><a href="clientHome.handlebars" class="text-dark">Client Home!</a></h6>
        <hr>
        <h6><a href="trainerHome.handlebars" class="text-dark">Trainer Home!</a></h6>
        <hr>
        <h6><a href="signup.handlebars" class="text-dark">Sign Up!</a></h6>
    </div>
</div>
<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container p-5 mt-4">
    <div>
        <h3>Welcome Back To Go Fit!</h3>
    </div>
    <hr>
    <form action="/login">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email" name="login-email" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" name="login-password" aria-describedby="basic-addon2">
        </div>
        <div class="float-end"> 
            <button>Login!</button>
        </div>
    </form>
</div>