<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-danger p-4">
        <h5 class="text-white h3">Go Fit!</h5>
        <h6><a href="clientHome.handlebars" class="text-dark">Client Home!</a></h6>
        <hr>
        <h6><a href="trainerHome.handlebars" class="text-dark">Trainer Home!</a></h6>
        <hr>
        <h6><a href="login.handlebars" class="text-dark">Log In!</a></h6>
    </div>
</div>
<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container p-5 mt-4">
    <div>
        <h3>Welcome To Go Fit!</h3>
    </div>
    <hr>
    <form class="signup">
        <div class="input-group mb-3">
            <input id="email-input" type="text" class="form-control" placeholder="Email" aria-label="Email"
                name="signup-email" aria-describedby="basic-addon2">
            {{!-- <span class="input-group-text" id="basic-addon2">@example.com</span> --}}
        </div>
        <div class="input-group mb-3">
            <input id="password-input" type="text" class="form-control" placeholder="Password" aria-label="Password"
                name="signup-password" aria-describedby="basic-addon2">
        </div>
        <div class="float-end">
            <button type="submit">Sign Up!</button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
