<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-danger p-4">
        <h5 class="text-white h3">Go Fit!</h5>
        <h6><a href="login.html" class="text-dark">Log In</a></h6>
        <hr>
        <h6><a href="signup.html" class="text-dark">Sign Up!</a></h6>
    </div>
</div>
<nav class="navbar navbar-dark bg-danger">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<form action="/trainerHome">
    <div class="container p-4 mt-4">
        <div class="row text-center">
            <h1>Go Fit!</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div>
                    <h3><a href="clients.html">View Clients</a></h3>
                </div>
                <img src="https://images.squarespace-cdn.com/content/v1/57040fe12fe1313125299777/1463057780918-W22ZOTEHXVG9OCGQOWOJ/ke17ZwdGBToddI8pDm48kF4R7C2Ceumo-q5k85DJq3QUqsxRUqqbr1mOJYKfIPR7XPdMUwapbohRe1EFhjG6J7WBL-mmVadfpiU6QZaua0MrN1-8Q_X9ldEXlc8wrw7gInPi9iDjx9w8K4ZfjXt2diAVzupgT9uAilIbGiO4EX12YM2Nl_Q8l-4Zz2cC-IwECjLISwBs8eEdxAxTptZAUg/image-asset.png" class="card-img-top" alt="Personal-Trainer">
            </div>   
            <div class="col-md-6 text-center">
                <div>
                    <h4>
                        <p>
                            As a Trainer we want you to take into account every clients goals and learn to adapt to what they need and get them where they want to be
                        </p>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</form>  